body {
    margin-bottom: 20px;
}

.past {
    opacity: 0.5;
    @media only screen and (max-width: 600px) {
      display: none;
    }
}

.today {
   h3.daytitle {
     text-decoration: underline;
   }
  span.daydate {
    font-weight: 900;
  }

    //div.period {
    //    border: 1px solid #000;
    //}

  font-weight: 800;
  //border: 1px solid lightgrey;
  border-left: 0.5px solid rgba(0, 0, 0, 0.1);
  border-right: 0.5px solid lightgrey;
  border-top: 0.5px solid lightgrey;
  border-radius: 10px;
  box-shadow: 4px 3px lightgrey;

}


.weekday-title {
    color: #000;
    padding-bottom: 10px;
}

.appointment-time {
    color: #000;
    margin-top: -5px;
}

.appointment-body {
    margin-bottom: 10px;
}

//.active-panel {
//    cursor: pointer;
//    &:hover {
//        background-color: rgba(255, 255, 255, 0.1);
//        border: 1px solid #1f648b;
//    }
//}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    @media only screen and (max-width: 600px) {
        grid-template-columns: auto
    }
}

.grid-item {
    text-align: center;
    padding: 10px;
}