body {
  font-size: 1.4rem;
  margin-bottom: 25px;
}

.panel-body {
  p {
    font-size: 1.6rem;
  }
}

.admin-panel {
  width: 80%;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
  margin: auto;
  margin-bottom: 20px;
}

.admin-message {
  width: 80%;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
  margin: auto;
  -webkit-box-shadow: 9px -1px 24px 3px rgba(110, 110, 110, 0.16);
  -moz-box-shadow: 9px -1px 24px 3px rgba(110, 110, 110, 0.16);
  box-shadow: 9px -1px 24px 3px rgba(110, 110, 110, 0.16);
}

.calendar-navigation {
  @media only screen and (max-width: 600px) {
    position: fixed;
    background: rgba(255, 255, 255, 1);
    width: 100%;
    padding: 5px;
    margin: auto;
    left: 0;
    top: 60px;
    z-index: 5000;
  }
}

.modal {
  z-index: 6000 !important;
}

.sticky-top {
  @media only screen and (max-width: 600px) {
    background: rgba(255, 255, 255, 1);
    padding: 5px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 4000;
  }
}

button:hover,
button:focus,
a:hover,
a:focus {
  text-decoration: none !important;
  outline: 0 !important;
}

.btn-link:hover {
  text-decoration: none;
}

.nav-buttons {
  margin: 0 auto;
}

.slide-fade-enter-active {
  transition: all 0.5s ease-out;
}

.slide-fade-leave-active {
  transition: all 1s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.past {
  opacity: 0.5;
}

.hide-past-mobile {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.today {
  h3.daytitle {
    text-decoration: underline;
  }
  span.daydate {
    font-weight: 900;
    color: darkred;
  }

  font-weight: 1100;

  // border-left: 0.5px solid rgba(0, 0, 0, 0.1);
  // border-right: 0.2px solid lightgrey;
  // border-top: 0.5px solid lightgrey;
  // border-radius: 10px;
  // box-shadow: 2px 1px lightgrey;
}

.weekday-title {
  color: rgb(63, 62, 62);
  padding-bottom: 10px;
}

.appointment-time {
  color: rgb(63, 62, 62);
  margin-top: -5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  // grid-template-columns: auto auto auto auto auto;
  @media only screen and (max-width: 600px) {
    grid-template-columns: auto;
    margin-top: 20px;
  }
}

.appointment {
  text-align: center;
  margin-bottom: 5px;

  &-title {
    color: #000;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    &:hover {
      color: orange;
    }
  }

  &-body {
    font-size: 12px;
  }

  &-info {
    color: rgb(153, 153, 153);
  }

  &-hidden {
    display: none;
  }
}

.grid-item {
  text-align: center;
  padding: 2px;
  margin: 0;
}
